<!DOCTYPE html>
<script
  src="https://unpkg.com/htmx.org@1.9.11"
  integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
  crossorigin="anonymous"
></script>
<html>
  <body>
    <form action="{{ url_for('rooms.create_room') }}" method="post">
      <label for="room">Room:</label><br>
      <input type="text" id="room" name="room_name"><br>
      <input type="submit" value="Submit">
    </form>
    {% if error %}
      <h1>{{ error }}</h1>
    {% endif %}
  </body>
</html>
